
<div id="page-wrapper">
  <header id="header">
    <div class="logo">
      <img
        id="header-img"
        src="https://cdn.freecodecamp.org/testable-projects-fcc/images/product-landing-page-logo.png"
        alt="original trombones logo"
      />
    </div>

    <nav id="nav-bar">
      <ul>
        <li><a class="nav-link" href="#features">Features</a></li>
        <li><a class="nav-link" href="#how-it-works">How It Works</a></li>
        <li><a class="nav-link" href="#pricing">Pricing</a></li>
      </ul>
    </nav>
  </header>

  <div class="container"></div>
  <div class="container containers" *ngIf="selectedBusServices">
    <h1 class="heading">{{selectedBusServices.bus_name}}</h1>
    
    <div class="box-container">
        <div class="box">
            <div class="d-flex justify-content-center">
              <img [src]="selectedBusServices.vehicle_imgUrl" class="animated-image" alt="image">
              <div class="d-flex flex-column">
                <h2 *ngIf="selectedBusServices.price; else noPrice">Price: PKR {{selectedBusServices.price}}</h2>
                <ng-template #noPrice>
                  <h2>Price not available</h2>
                </ng-template>
                <p>Destination: {{selectedBusServices.destination}} </p>
                <p>Arrival: {{selectedBusServices.arrival}}</p>
              </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn" type="button" style="background: #de7906;" (click)="bookTicket(selectedBusServices)">Book ticket</a>&nbsp;
                <a class="btn" style="background: #de7906;">Remove From Cart</a>&nbsp;
                <a class="btn" type="button" (click)="addToCart()">Add To Cart</a>
            </div>
            <div class="pt-3">
              <div class="message-section">
                <p class="message ">{{selectedBusServices.message}}</p>
              </div>
            </div>
            <div class="quantity-group">
                <button >-</button>
                <input type="text" value="quantity">
                <button >+</button>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
    <section id="pricing">
      <div class="product" id="tenor" *ngIf="selectedBusServices">
        <div class="level">Tenor Trombone</div>
        <h2>$600</h2>
        <ol>
          <li>Lorem ipsum.</li>
          <li>{{selectedBusServices.arrival}}</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li>
        </ol>
        <button class="btn">Select</button>
      </div>
      <div class="product" id="bass">
        <div class="level">Bass Trombone</div>
        <h2>$900</h2>
        <ol>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li>
        </ol>
        <button class="btn">Select</button>
      </div>
      <div class="product" id="valve">
        <div class="level">Valve Trombone</div>
        <h2>$1200</h2>
        <ol>
          <li>Plays similar to a Trumpet</li>
          <li>Great for Jazz Bands</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum.</li>
        </ol>
        <button class="btn">Select</button>
      </div>
    </section>
    <section id="features">
      <div class="grid">
        <div class="icon"><i class="fa fa-3x fa-fire"></i></div>
        <div class="desc">
          <h2>Quality Travel Experience</h2>
          <p>
            Our buses feature premium materials and comfortable seating, ensuring a safe and enjoyable journey for all passengers.
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="icon"><i class="fa fa-3x fa-truck"></i></div>
        <div class="desc">
          <h2>Safe Travels</h2>
          <p>
            We ensure timely departures and hassle-free returns if you’re not satisfied. Your comfort and satisfaction are our top priorities.
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="icon">
          <!-- <i class="fa fa-3x fa-battery-full" aria-hidden="true"></i> -->
          <i class="fa fa-3x fa-concierge-bell" aria-hidden="true"></i> 
        </div>
        <div class="desc">
          <h2>Premium Comfort</h2>
          <p>
            Enjoy our comfortable AC seats, friendly hosts, complimentary internet, and refreshing snacks for an exceptional travel experience.
          </p>
        </div>
      </div>
    </section>
    <section id="how-it-works">
      <iframe
        id="video"
        height="315"
        src="https://www.youtube-nocookie.com/embed/y8Yv4pnO7qc?rel=0&amp;controls=0&amp;showinfo=0"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </section>
   
    <footer>
      <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <span>Copyright 2016, Original Trombones</span>
    </footer>
  </div>
</div>
 





<div class="modal fade" id="bookTicketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






